* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(Images/Projects.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: 'Fjalla One', sans-serif;
}

header {
  font-size: 1.1rem;
  letter-spacing: 2px;
  color: rgb(255, 124, 2);
  text-align: center;
  padding: 50px;
}

.project-list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  flex-wrap: wrap;
}

.project-list li {
  width: 25%;
  text-align: center;
  color: rgb(255, 124, 2);
  font-size: 1.3rem;
  letter-spacing: 2px;
}

li img {
  width: 150px;
  height: 150px;
  border-radius: 1rem;
  transition: 0.3s all ease-in-out;
}

li h3 {
  padding-top: 0.5rem;
}

li img:hover {
  transform: scale(1.1);
}

li .button {
  display: inline-block;
  text-decoration: none;
  font-size: 1.1rem;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: white;
  font-weight: 500;
  background: rgb(136, 0, 136);
  transition: 0.3s all ease-in-out;
}

li .button:hover {
  transform: scale(1.2);
}

li .button:focus {
  outline: none;
}

@media screen and (max-width: 576px) {
  html {
    font-size: 75%;
  }

  .project-list li {
    width: 100vw;
    text-align: center;
    margin-bottom: 1rem;
  }

  li img {
    width: 100px;
    height: 100px;
  }
  li .button {
    margin-bottom: 1rem;
  }
}
